<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>Dashboard</title>
		<meta name="description" content="dashboard for portfolio managers">
		<meta name="author" content="Rene Zbasnik">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
        <script src="https://cdn.plot.ly/plotly-2.18.2.min.js" charset="utf-8" ></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <!--<script type="module" src="/main.js"></script>-->
		<!--<link href="/style.css" type="text/css" rel="stylesheet" /> -->
    </head>
    <body>
        <h1>Helper for portfolio managers</h1>
            <label for="stock">Choose a stock:</label>
                <select onchange="MyJavaScript(this)"name='table' id="table">
                 {{#each tables}}
                <option value={{this}} >{{this}}</option>
                {{/each}}
                </select>
                <br>
            <label for="commodity">Choose a commodity:</label>
                <select onchange="MyJavaScript(this)"name='table' id="table">
                 {{#each tables}}
                <option value={{this}} >{{this}}</option>
                {{/each}}
                </select>
        <div id="stock"></div>
        <div id="commodity"></div>
        <input type = "hidden" id = "value1" value = {{dataS}} />
        <input type = "hidden" id = "value2" value = {{dataC}} />
        <!--<input type = "hidden" id = "value2" value = {{data.y}} />-->
        
        <script>
            let dataS = document.getElementById("value1").value;
            let dataC = document.getElementById("value2").value;
            dataS = JSON.parse(dataS)
            dataC = JSON.parse(dataC)
            //console.log(dataS)
            Plotly.newPlot("stock", dataS, {
            title: 'Scroll and Zoom',
            showlegend: false
            });
            Plotly.newPlot("commodity", dataC, {
            title: 'Scroll and Zoom',
            showlegend: false
            });
        </script>
        
    </body>
</html>